In [17]:
# Import Dependencies
import gpxpy
import pandas as pd
import numpy as np

In [18]:
# Parse data file:
gpx_file = open('data/gpx/garmindata_20200321.gpx', 'r')
gpx = gpxpy.parse(gpx_file)
data = []
trackNo = 0

In [19]:
# Extract data
for track in gpx.tracks:
    for segment in track.segments:
        for point in segment.points: 
            data.append([trackNo, point.time, point.latitude, point.longitude, point.elevation])
    trackNo+=1

In [20]:
# Create DataFrame with Data
columns = ['TrackNo','Time', 'Latitude', 'Longitude', 'Elevation']
df = pd.DataFrame(data, columns=columns)

In [21]:
# Sort DF by date and reset index
dfTimeSorted = df.sort_values(by=['Time']).reset_index(drop=True)
dfTimeSorted.head()

   TrackNo                      Time   Latitude   Longitude  Elevation
0        0 2019-05-08 06:57:15+00:00  36.111288 -115.261516     741.08
1        1 2019-05-08 15:27:00+00:00  36.111416 -115.261345     754.07
2        1 2019-05-08 15:27:08+00:00  36.111426 -115.261353     753.00
3        1 2019-05-08 15:27:09+00:00  36.111426 -115.261353     753.00
4        1 2019-05-08 15:28:09+00:00  36.111330 -115.261409     750.00

In [22]:
# Find difference between trailing rows
dfTimeSortedDiff = dfTimeSorted.diff()
dfTimeSortedDiff.head()

   TrackNo     Time  Latitude  Longitude  Elevation
0      NaN      NaT       NaN        NaN        NaN
1      1.0 08:29:45  0.000128   0.000171      12.99
2      0.0 00:00:08  0.000010  -0.000008      -1.07
3      0.0 00:00:01  0.000000   0.000000       0.00
4      0.0 00:01:00 -0.000096  -0.000056      -3.00

In [23]:
# Merge DFs and rename columns
dff = dfTimeSorted.merge(dfTimeSortedDiff, left_index=True, right_index=True)
dff.columns = ['TrackNo','Time', 'Latitude', 'Longitude','Elevation','NewTrack','TimeDiff','LatitudeDiff', 'LongitudeDiff', 'ElevationDiff']
dff['NewTrack'] = dff['NewTrack'].fillna(1).astype(int)
dff.head()

,TrackNo,Time,Latitude,Longitude,Elevation,NewTrack,TimeDiff,LatitudeDiff,LongitudeDiff,ElevationDiff
0,0,2019-05-08 06:57:15+00:00,36.111288,-115.261516,741.08,1,NaT,NaN,NaN,NaN
1,1,2019-05-08 15:27:00+00:00,36.111416,-115.261345,754.07,1,08:29:45,0.000128,0.000171,12.99
2,1,2019-05-08 15:27:08+00:00,36.111426,-115.261353,753.00,0,00:00:08,0.000010,-0.000008,-1.07
3,1,2019-05-08 15:27:09+00:00,36.111426,-115.261353,753.00,0,00:00:01,0.000000,0.000000,0.00
4,1,2019-05-08 15:28:09+00:00,36.111330,-115.261409,750.00,0,00:01:00,-0.000096,-0.000056,-3.00

In [33]:
dff.head(15)

,TrackNo,Time,Latitude,Longitude,Elevation,NewTrack,TimeDiff,LatitudeDiff,LongitudeDiff,ElevationDiff
0,0,2019-05-08 06:57:15+00:00,36.111288,-115.261516,741.08,1,NaT,NaN,NaN,NaN
1,1,2019-05-08 15:27:00+00:00,36.111416,-115.261345,754.07,1,08:29:45,0.000128,0.000171,12.99
2,1,2019-05-08 15:27:08+00:00,36.111426,-115.261353,753.00,0,00:00:08,0.000010,-0.000008,-1.07
3,1,2019-05-08 15:27:09+00:00,36.111426,-115.261353,753.00,0,00:00:01,0.000000,0.000000,0.00
4,1,2019-05-08 15:28:09+00:00,36.111330,-115.261409,750.00,0,00:01:00,-0.000096,-0.000056,-3.00
5,1,2019-05-08 15:30:41+00:00,36.111214,-115.261477,732.00,0,00:02:32,-0.000116,-0.000068,-18.00
6,1,2019-05-08 15:31:40+00:00,36.111334,-115.261443,735.00,0,00:00:59,0.000120,0.000034,3.00
7,1,2019-05-08 15:32:39+00:00,36.111332,-115.261636,742.00,0,00:00:59,-0.000002,-0.000193,7.00
8,1,2019-05-08 15:33:38+00:00,36.111220,-115.261672,756.00,0,00:00:59,-0.000112,-0.000036,14.00
9,1,2019-05-08 15:37:00+00:00,36.111298,-115.261645,751.91,0,00:03:22,0.000078,0.000027,-4.09
10,1,2019-05-08 15:37:10+00:00,36.111298,-115.261666,753.00,0,00:00:10,0.000000,-0.000021,1.09
11,1,2019-05-08 15:38:32+00:00,36.111302,-115.261681,741.00,0,00:01:22,0.000004,-0.000015,-12.00
12,1,2019-05-08 15:39:32+00:00,36.111793,-115.261179,739.00,0,00:01:00,0.000491,0.000502,-2.00
13,1,2019-05-08 15:40:33+00:00,36.114231,-115.261256,710.00,0,00:01:01,0.002438,-0.000077,-29.00
14,1,2019-05-08 15:41:32+00:00,36.114360,-115.260954,723.00,0,00:00:59,0.000129,0.000302,13.00

In [35]:
dff.loc[(dff['LatitudeDiff'] < 0.0009) & (dff['LatitudeDiff'] > -0.0009) & (dff['LongitudeDiff'] < 0.0009) & (dff['LongitudeDiff'] > -0.0009)]

,TrackNo,Time,Latitude,Longitude,Elevation,NewTrack,TimeDiff,LatitudeDiff,LongitudeDiff,ElevationDiff
1,1,2019-05-08 15:27:00+00:00,36.111416,-115.261345,754.07,1,08:29:45,0.000128,0.000171,12.99
2,1,2019-05-08 15:27:08+00:00,36.111426,-115.261353,753.00,0,00:00:08,0.000010,-0.000008,-1.07
3,1,2019-05-08 15:27:09+00:00,36.111426,-115.261353,753.00,0,00:00:01,0.000000,0.000000,0.00
4,1,2019-05-08 15:28:09+00:00,36.111330,-115.261409,750.00,0,00:01:00,-0.000096,-0.000056,-3.00
5,1,2019-05-08 15:30:41+00:00,36.111214,-115.261477,732.00,0,00:02:32,-0.000116,-0.000068,-18.00
...,...,...,...,...,...,...,...,...,...,...
104722,252,2020-03-19 01:15:45+00:00,9.999618,99.778755,-3.73,0,00:10:00,0.000010,0.000044,6.08
104730,252,2020-03-19 03:38:45+00:00,10.116466,99.811713,-3.73,0,00:10:00,0.000043,0.000107,0.00
104734,252,2020-03-19 04:53:00+00:00,10.097905,99.828300,6.40,0,00:10:00,-0.000311,0.000494,0.00
104735,252,2020-03-19 05:44:30+00:00,10.098775,99.828558,10.46,0,00:51:30,0.000870,0.000258,4.06
104737,252,2020-03-19 06:04:30+00:00,10.101135,99.830103,61.26,0,00:10:00,0.000012,-0.000172,28.47

,TrackNo,Time,Latitude,Longitude,Elevation,NewTrack,TimeDiff,LatitudeDiff,LongitudeDiff,ElevationDiff
0,0,2019-05-08 06:57:15+00:00,36.111288,-115.261516,741.08,1,NaT,NaN,NaN,NaN
1,1,2019-05-08 15:27:00+00:00,36.111416,-115.261345,754.07,1,08:29:45,0.000128,0.000171,12.99
2,1,2019-05-08 15:27:08+00:00,36.111426,-115.261353,753.00,0,00:00:08,0.000010,-0.000008,-1.07
3,1,2019-05-08 15:27:09+00:00,36.111426,-115.261353,753.00,0,00:00:01,0.000000,0.000000,0.00
4,1,2019-05-08 15:28:09+00:00,36.111330,-115.261409,750.00,0,00:01:00,-0.000096,-0.000056,-3.00

In [16]:
dff.loc[dff['NewTrack'] > 0]

,TrackNo,Time,Latitude,Longitude,Elevation,NewTrack,TimeDiff,LatitudeDiff,LongitudeDiff,ElevationDiff
0,0,2019-05-08 06:57:15+00:00,36.111288,-115.261516,741.08,1,NaT,NaN,NaN,NaN
1,1,2019-05-08 15:27:00+00:00,36.111416,-115.261345,754.07,1,0 days 08:29:45,0.000128,0.000171,12.99
997,2,2019-05-10 13:17:45+00:00,35.378583,-113.856168,1031.85,1,0 days 05:23:55,0.155424,0.149646,-23.15
2201,3,2019-05-12 12:49:30+00:00,36.262016,-112.707516,775.78,1,0 days 09:12:57,-0.000034,-0.000790,-230.22
3676,4,2019-05-14 17:05:15+00:00,35.248808,-112.193863,2049.14,1,0 days 12:29:56,-0.000071,0.000061,-12.86
...,...,...,...,...,...,...,...,...,...,...
104540,249,2020-03-16 00:42:15+00:00,9.180203,99.365201,-3.73,1,0 days 10:15:45,0.033882,0.036221,-14.19
104605,250,2020-03-16 22:49:15+00:00,10.100791,99.829695,-102.83,1,0 days 09:00:45,-0.000312,-0.000258,-58.59
104662,251,2020-03-17 22:51:00+00:00,10.101198,99.829953,38.89,1,0 days 09:29:45,0.002027,0.000022,18.29
104713,252,2020-03-18 23:42:45+00:00,10.097895,99.828300,-19.95,1,0 days 09:11:15,0.017070,0.002445,-34.46
104738,253,2020-03-20 07:55:00+00:00,10.092723,99.801221,-5.76,1,1 days 01:50:30,-0.008412,-0.028882,-67.02

In [ ]:
dff['NewTrack'] = dff['NewTrack'].map({'0': 'NaN'})

In [ ]:
dff.head()

In [ ]:
dff.loc[dff['TimeDiff'] > np.timedelta64(4, 'h')]